@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
}

body {
  position: relative;
  /* width: 1600px; */
  height: 4256px;
  background: rgb(255, 255, 255);
}
.header {
  /* width: 1600px; */
  height: 837px;
  background: rgb(255, 248, 243);
  background-image: url(images/developer.png), url(images/header_bg.png);
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  
}

nav{
  display: flex;
  justify-content: space-between;
}

span{
  color:rgb(253, 110, 10);
}
